.tw_followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.tw_followCard_header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw_folloCard_info {
  display: flex;
  flex-direction: column;
}

.tw_folloCard_info_userName{
  opacity: .6;
}

.tw_followCard_avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw_followCard_button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid #09f;
}

.tw_followCard_button.is-following {
  border: 2px solid red;
}

.tw_followCard_button:hover {
  background: #09f;
  color: white;
}

.tw_followCard_button.is-following:hover {
  background: red;
  color: white;
}